.accordion-body {
    display: none;
    border: 1px solid black;
    padding: 10px;
}

.accordion-title {
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

.accordion-item.accordion-active .accordion-body {
    display: block;
}

.accordion-item.accordion-active .accordion-title {
    background-color: lightgrey;
}